@import '../../../assets/scss/variables';

.index {
  &__block {
    margin-bottom: 50px;
  }
  &__btn {
    margin: 0 8px;
  }

  &__select {
    padding: 0 20px;
  }

  &__select-btn {
    height: auto!important;
    min-width: 220px!important;
    background: $index-select-btn-bg-color;
    color: $index-select-btn-color;
    padding: 6px!important;
    font-size: 20px;
    text-transform: none;
    border-radius: 10px;

    @media (min-width: 500px) {
      min-width: 400px!important;
      padding: 15px!important;
    }

    @media (min-width: 1264px) {
      min-width: 520px!important;
    }

    .v-btn__content{
      color: $index-select-btn-color;
      justify-content: space-around;
      padding: 6px;
    }
    .big-text{
      font-size: 20px;
      line-height: 1;

      @media (min-width: 500px) {
        font-size: 40px;
      }
    }
    .choice-wrap{
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }
  }

  &__select-img {
    max-height: 40px;

    @media (min-width: 500px) {
      max-height: 100px;
    }
  }
}
