$color-main: #717172;
$color-light: #ffffff;
$color-bg-light: #ffffff;
$color-background-light: #ffffff;
$color-background-dark: #717172;

$form-input-text-size: 1rem;
$form-label-text-size: 1rem;
$form-header-text-size: 1.5rem;

$form-button-text-color: #4f88b5;
$form-button-bg-color: whitesmoke;

$text-size-main: 1rem;


